<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submission Received</title>
</head>
<body>
    <h2>Submission Received</h2>
    <p><strong>Name:</strong> {{ data.na}}</p>
    <p><strong>Mobile number:</strong> {{ data.mn }}</p>
    <p><strong>Location:</strong> {{ data.location }}</p>
    <p><strong>Department:</strong> {{ data.Department }}</p>
    <p><strong>Doctor Name:</strong> {{ data.Doctor name}}</p>
    <p><strong>Choosen slot:</strong> {{ data.Available slots }}</p>
    <p><strong>Time & date:</strong> {{ data.date }}</p>
    <p><strong>Symptoms:</strong> {{ data.symptoms }}</p>
</body>
</html>