<!DOCTYPE html>
<html lang="en">
<head><link></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Butterfly Hospitals</title>
    <head>
        <link rel="stylesheet" herf=""{{ url_for('static', filename='style.css')}}>
    </head>
</head>
<body>
    <body style="background-color: lightblue;"></body>
    <h5>Butterfly Hospitals</h5>
        <img src="Logo.png" width="90" Height="90"alt="Butterfly Hospitals Logo">
        <div style="text-align:end;">
            <p1>For any assistance please contact us </p1><br>
            <p1><span style='font-size:20px;'>&#128222;</span><a href="g"> 7459146073</a></p1><br>
        <p1><span style='font-size:20px;'>&#128231;</span><a href="g"> butterflyhospitals@gmail.com</a></p1>
        </div>
    <form method="POST">
      <center><h1>Please fill the above information</h1>
        <div>
            <input type="text" placeholder="Username" name="un"required><br><br>
        </div>
        <div>
            <input type="password" placeholder="password" name="pwd"required><br><br>
        </div>
        <div>
        <input type="submit" value="Login">
        <input type="submit" value="cancel"><br><br>
        </div>
        <div>
            Don't have an account ?
        </br>
        <a href="g"> Sign up</a>
        </div>
    </center>
    </form>
    
</body>
</html>