<!DOCTYPE html>
<head >
  <center><h2><marquee> hello {{user}} &#128075;</marquee></h2> </center>
</head>
<body style="background-color: lightblue;">

  <h5>Butterfly Hospitals</h5>
  <img src="Logo.png" width="90" Height="90"alt="Butterfly Hospitals Logo"> 
  <div style="text-align:end;">
  <p1>For any assistance please contact us </p1><br>
  <p1><span style='font-size:20px;'>&#128222;</span><a href="g"> 7459146073</a></p1><br>
<p1><span style='font-size:20px;'>&#128231;</span><a href="g"> butterflyhospitals@gmail.com</a></p1>
</div>
<div style="text-align: center;">
  <h2><b>Please choose your option</b></h2><br>
</div><form method='POST' action="/decide">
<center><button value="appointment" name="one">please book your appointment</button></center></form><br>
<form method='POST' action="/go"><center><button value="prescription" name="two"> online prescription</button></center></form>
</body>
  